<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
   </head>
<body>
    <div id="site-div">
        <header>
            <div id="nav-menu">
                <ul>
                    <li>@Html.ActionLink("Головна сторінка", "Index", "Home", new { @class = "nav-menu-link",
                   title = "Перейти на головну сторінку"})</li>
                    <li>@Html.ActionLink("Про нас", "About", "Home", new { @class = "nav-menu-link",
                   title = "Інформація про нас"})</li>
                    <li>@Html.ActionLink("Контакти", "Contact", "Home", new { @class = "nav-menu-link",
                   title = "Наші контактні дані"})</li>

                    @if (true)
                    {
                        <li class="auth">@Html.ActionLink("Вхід", "Index", "Home")</li>
                        <li class="auth">@Html.ActionLink("Реєстрація", "Index", "Home")</li>
                    }
                    else
                    {

                    }
                </ul>
            </div>
            <div id="top-main-menu">
                <a href="@Url.Action("Index", "Home")"><img id="image-logo" title="Головна сторінка" src="@Url.Content("~/Content/Images/logo.png")" /></a>
                <div id="block-search">
                    <form>
                        <label id="search-label">Пошук товару</label>
                        <input id="search-text-field" placeholder="Знайти..." />
                        <input type="button" id="button-search" value="Пошук" />
                    </form>      
                </div>
            </div>
        </header>
        @RenderBody()
        <footer>

        </footer>
    </div>
</body>
</html>
