<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
   </head>
<body>
    <header>
        <div id="header-top">
            <ul id="header-top-nav">
                <li>@Html.ActionLink("Головна сторінка", "Index", "Home", new { @class = "header-top-link" })</li>
                <li>@Html.ActionLink("Про нас", "About", "Home", new { @class = "header-top-link" })</li>
                <li>@Html.ActionLink("Магазини", "!----TO-DO----!", "Home", new { @class = "header-top-link" })</li>
                <li>@Html.ActionLink("Контакти", "Contact", "Home", new { @class = "header-top-link" })</li>
            </ul>
            <p id="reg-auth-title" align="right">
                <a href="@Url.Action("", "Home")" class="top-auth">Вход</a>
                <a href="@Url.Action("", "Home")" class="top-auth">Регистрация</a>
            </p>
        </div>
    </header>
    @RenderBody()
    <footer>

    </footer>
</body>
</html>
